.taskbar-current-tabs {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    border: 3px solid #ccc;
    border-inline: none;
    background: whitesmoke;
    box-sizing: border-box;
}

.workspace-editor-tab {
    background: lightgray;
    border: 2px solid limegreen;
    border-radius: 0.125cm;
}
