#RenderingCanvas {
    display: inline-flex;
    background: rgb(25, 25, 25);
    flex-shrink: 1 !important;
    flex: 1 1 auto;
    width: auto;
    height: auto;
    max-width: 400px;
}

#RenderingArea {
    display: flex;
    flex-direction: column;
    gap: 0;
}
