.bottom-editor-frame {
    display: flex;
    flex-grow: 0 !important;
    flex: 0 1 auto;
    position: relative;
    max-height: initial;
    height: 100%;
    backdrop-filter: blur(1px);
    background: whitesmoke;
    border: 3px solid #ccc;
    box-sizing: border-box;
    transform-origin: left bottom;
}

.inline-editor-frame {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    box-sizing: border-box;
}

.inline-frame {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    flex-flow: auto;
    flex: 0 0 auto;
    min-height: 10%;
    max-width: 800px;
    min-width: 50px;
    width: 250px;
    height: 100%;
    background: white;
    border: 3px solid #ccc;
    border-block: none;
    box-sizing: border-box;
}

.inline-frame.left {
    transform-origin: left top;
}

.inline-frame.right {
    transform-origin: right top;
}

/* Editor Frame Contents */
.header {
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: underline;
    -webkit-user-select: none !important;
    user-select: none !important;
}
