.bottom-editor-frame {
    display: flex;
    position: relative;
    flex-grow: 0 !important;
    flex: 1 1 auto;
    backdrop-filter: blur(1px);
    background: whitesmoke;
    border: 3px solid #ccc;
    box-sizing: border-box;
    transform-origin: left bottom;
    height: max-content;
    width: 100%;
    /* min-height: 275px !important; */
    min-height: 25px !important;
    max-height: 375px !important;
    margin: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.inline-editor-frame {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    box-sizing: border-box;
}

.inline-frame {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    flex-flow: auto;
    flex: 0 0 auto;
    min-height: 10%;
    max-width: 800px;
    min-width: 50px;
    width: 250px;
    height: 100%;
    background: white;
    border: 3px solid #ccc;
    border-block: none;
    box-sizing: border-box;
}

.inline-frame.left {
    transform-origin: left top;
}

.inline-frame.right {
    transform-origin: right top;
}

/* Editor Frame Contents */
.header {
    text-align: center;
    text-wrap-mode: wrap;
    text-wrap-style: balance;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-decoration: underline;
    -webkit-user-select: none !important;
    user-select: none !important;
}
