.application-toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    flex-direction: row !important;
    max-height: calc(max-content / 2);
    transition: all auto linear;
    background-color: lightgreen;
    border-bottom: 3px solid lime;
    padding: 5px;
    gap: 8px;
}

.toolbar-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 8px;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    transition: all 0.4s ease-out;
}

.toolbar-selection {
    cursor: pointer;
    padding: 4.5px;
    padding-inline: 10px;
    border: 2px solid limegreen;
    border-radius: 1cm;
    font-style: italic;
    font-weight: bold;
    flex-shrink: 1 !important;
    flex-grow: auto !important;
    flex: 0 1 auto !important;
    transition: all 0.3s ease-out;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
    max-width: min-content !important;
    min-width: 0;
    max-height: 40px;
}

.toolbar-selection:has(img) {
    max-width: 25% !important;
}

.toolbar-selection>img {
    flex: 0 0 0 !important;
    flex-shrink: 1 !important;
    margin-top: 2.5%;
    width: calc(100vw / 40);
    height: 95%;
    min-width: 25% !important;
    min-height: 25% !important;
    max-width: 100% !important;
    transition: all auto linear;
    transform-origin: center;
    transform: scale(1.5);
}

.toolbar-selections-menu {
    position: absolute;
    padding: 5px;
    display: none;
    flex-direction: column;
    background-color: lightgreen;
    border: 2px solid lime;
    border-radius: 8px;
    z-index: 1000;
    gap: 4px;
}

#FileSelectionsMenu.open {
    display: flex !important;
}
