.application-toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    flex-direction: row !important;
    max-height: calc(max-content / 2);
    transition: all 0.3s ease-out;
    background-color: lightgreen;
    border-bottom: 3px solid lime;
    padding: 5px;
    gap: 8px;
}

.toolbar-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 8px;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
}

.toolbar-selection {
    cursor: pointer;
    padding: 4.5px;
    padding-inline: 10px;
    border: 2px solid limegreen;
    border-radius: 1cm;
    font-style: italic;
    font-weight: bold;
    flex-shrink: 1 !important;
    flex-grow: 0 !important;
    flex: 1 1 auto !important;
    transition: all 0.3s ease-out;
    margin-left: 0 !important;
    max-width: max-content !important;
    min-width: 0;
}

.toolbar-selections-menu {
    position: absolute;
    padding: 5px;
    display: none;
    flex-direction: column;
    background-color: lightgreen;
    border: 2px solid lime;
    border-radius: 8px;
    z-index: 1000;
    gap: 4px;
}

#FileSelectionsMenu.open {
    display: flex;
}
