@keyframes SelectionMenuDropDown {
    0% {
        border-radius: 8px;
        border-top: inherit;
        transform: translateY(-200px);
    }
    25%, 110% {
        transform: translateY(-50px);
        gap: 14px;
    }
    85% {
        border-radius: 8px;
        border-top: inherit;
        transform: translateY(7.5px);
        gap: 8px;
    }
    100%, 25% {
        border-radius: 0 0 8px 8px;
        border-top: 2px solid transparent;
        transform: translateY(0);
        gap: 4px;
    }
}

.application-toolbar {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    flex-direction: row !important;
    max-height: calc(max-content / 2);
    transition: all auto linear;
    box-shadow: 0 2px 25px rgba(0,0,0,0.275);
    background-color: lightgreen;
    border-bottom: 3px solid lime;
    z-index: 9999 !important;
    padding: 5px;
    gap: 8px;
}

.toolbar-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    transition: all 0.4s ease-out;
    z-index: 9999;
    gap: 8px;
}

.toolbar-selection {
    cursor: pointer;
    padding: 4.5px;
    padding-inline: 10px;
    border: 2px solid limegreen;
    border-radius: 1cm;
    font-style: italic;
    font-weight: bold;
    flex-shrink: 1 !important;
    flex-grow: auto !important;
    flex: 0 1 auto !important;
    transition: all 0.3s ease-out;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
    max-width: min-content !important;
    min-width: 0;
    max-height: 40px;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.toolbar-selection:has(img) {
    max-width: 17.5% !important;
}

.toolbar-selection>img {
    flex: 0 0 0 !important;
    flex-shrink: 1 !important;
    margin-top: 2.5%;
    width: calc(100vw / 40);
    height: 95%;
    min-width: 25% !important;
    min-height: 25% !important;
    max-width: 100% !important;
    transition: all auto linear;
    transform-origin: center;
    transform: scale(1.5);
}

.toolbar-selections-menu {
    display: none;
    position: absolute;
    padding: 5px;
    margin-top: 7.5px;
    max-height: 125px;
    flex-direction: column;
    background-color: lightgreen;
    border-top: 2px solid transparent;
    border: 2px solid lime;
    border-radius: 0 0 8px 8px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    gap: 4px;
}

.toolbar-selections-menu>button {
    cursor: pointer;
    color: whitesmoke;
    -webkit-text-stroke: 0.25px lightgray;
    border-radius: 1cm;
    border: 2px solid limegreen;
    background: linear-gradient(lime, limegreen);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.275);
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.toolbar-selections-menu>button:hover {
    filter: invert(0.1) brightness(0.875);
    color: white;
}

#FileSelectionsMenu.open {
    display: flex !important;
    animation: SelectionMenuDropDown 0.75s ease forwards;
}
